{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "cursorOffset": -1,
    "editorconfig": true,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "quoteProps": "as-needed"
}