/*
!alacritty
!amfora
!awesome
!bspwm
!castero
!conky
!doom
!eww
!fish
!kitty
!mpd
!moc
!mu4e
!ncmpcpp
!nvim
!picom
!polybar
!qtile
!qutebrowser
!rofi
!surf
!sxhkd
!sxiv
!tabliss
!vifm
!xmobar
!xmonad
!.gitignore
!starship.toml
