/*
!alacritty
!amfora
!awesome
!bspwm
!castero
!conky
!dmscripts
!doom
!dunst
!eww
!fish
!kitty
!moc
!mpd
!mu4e
!ncmpcpp
!neofetch
!nnn
!pcmanfm
!nvim
!picom
!polybar
!qtile
!qutebrowser
!ranger
!rofi
!surf
!sxhkd
!sxiv
!tabliss
!vifm
!wfuzz
!xmobar
!xmonad
!.gitignore
!starship.toml
