/*
!alacritty
!amfora
!awesome
!bottom
!broot
!bspwm
!calcurse
!castero
!conky
!deadbeef
!dmscripts
!doom
!dunst
!eww
!fish
!helix
!htop
!kicad
!kitty
!moc
!mpd
!mu4e
!ncmpcpp
!neofetch
!nnn
!pcmanfm
!nvim
!picom
!polybar
!qtile
!qutebrowser
!ranger
!rofi
!surf
!sxhkd
!sxiv
!tabliss
!tint2
!vifm
!volumeicon
!wfuzz
!xmobar
!xmonad
!.gitignore
!starship.toml
